#headerwrap {
  background: url(../../assets/back.jpg);
  min-height: 650px;
  margin-top: -70px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 250px;
}

#headerwrap h1, #headerwrap h4, #headerName h1, #headerName h4  {
  color: white;
}

#headerwrap h1, #headerName h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#headerwrap h4, #headerName h4 {
  font-weight: 400;
}

#headerwrap button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

#headerwrap button:hover {
  background-color: #555;
  color: white;
}
