<div id="aboutwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
      </div>
    </div>
  </div>
  <!-- /container -->
</div>

<div class="container">
  <div class="row centered m-t-80 m-b-80">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>{{'About Me' | uppercase}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam odio quasi voluptates vitae incidunt quae.</p>
    </div>
  </div>

  <div class="row">
    <div class="grid-container">
        <div class="about-myself">
            <p><span class="left-title">Name:</span><span class="right-title">Nikhil Malewar</span></p>
            <p><span class="left-title">Age:</span><span class="right-title">26 Years</span></p>
            <p><span class="left-title">Skype:</span><span class="right-title">-</span></p>
            <p><span class="left-title">Phone:</span><span class="right-title">+91-9673623240</span></p>
            <p><span class="left-title">Email:</span><span class="right-title">nikhilmalewar21@gmail.com</span></p>
            <a href="#" class="boxed-btn">Hire Me</a>
        </div>
        <div class="about-myself">
            <img src="../../assets/nikhil_coat_cropped.jpg" alt="">
        </div>
        <div class="my-skill">
            <div class="progressive-bar">
                <div class="prog-item">
                    <p>PHP</p>
                    <span id="php"><div class="progressbar" style="width: 100%; background-color: rgb(238, 238, 238); border-radius: 15px;"><div class="proggress" style="background-color: rgb(26, 188, 156); height: 10px; border-radius: 15px; width: 90%;"></div><div class="percentCount">90%</div></div></span>
                </div>
                <div class="prog-item">
                    <p>Laravel</p>
                    <span id="laravel"><div class="progressbar" style="width: 100%; background-color: rgb(238, 238, 238); border-radius: 15px;"><div class="proggress" style="background-color: rgb(26, 188, 156); height: 10px; border-radius: 15px; width: 80%;"></div><div class="percentCount">80%</div></div></span>
                </div>
                <div class="prog-item">
                    <p>CodeIgniter</p>
                    <span id="codeigniter"><div class="progressbar" style="width: 100%; background-color: rgb(238, 238, 238); border-radius: 15px;"><div class="proggress" style="background-color: rgb(26, 188, 156); height: 10px; border-radius: 15px; width: 85%;"></div><div class="percentCount">85%</div></div></span>
                </div>
                <div class="prog-item">
                    <p>WordPress</p>
                    <span id="wordpress"><div class="progressbar" style="width: 100%; background-color: rgb(238, 238, 238); border-radius: 15px;"><div class="proggress" style="background-color: rgb(26, 188, 156); height: 10px; border-radius: 15px; width: 75%;"></div><div class="percentCount">75%</div></div></span>
                </div>
                
            </div>
        </div>
    </div>
  </div>


</div>