#aboutwrap {
    background: url('../../assets/bg_aboutme.jpg');
    min-height: 550px;
    margin-top: -70px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 250px;
}

.grid-container {
    display: grid;
    grid-template-columns: max-content max-content auto;
    grid-gap: 80px;
    padding: 10px;
  }

.about-myself p {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

  .left-title {
    font-size: 18px;
    font-weight: 600;
    color: #1ABC9C;
}
.right-title {
    float: right;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}