#aboutwrap {
    background: url('../../assets/bg_aboutme.jpg');
    min-height: 550px;
    margin-top: -70px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 250px;
}