<app-header></app-header>
<section id="works"></section>
<div class="container">
  <div class="row centered m-t-80 m-b-80">
    <h1>Projects</h1>

    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/Product__0014_Layer-2.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/ELS-Logo-New-min.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/Product__0013_Layer-3.png" class="img-responsive"></a>
    </div>
  </div>
</div>

<section id="skills"></section>
<div class="container">
  <div class="row centered m-t-80 m-b-80">
    <h1>Skills</h1>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/HTML_logo.png" width="360" height="360"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/CSS3_logo.png" width="360" height="360"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/javascript_logo360.png" width="360" height="360"></a>
    </div>
  </div>
</div>

<section id="skills"></section>
<div class="container">
  <div class="row centered m-t-80 m-b-80">
    <div class="page-header">
      <h1>Meet the Team</h1>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../assets/vrushabh.jpg" alt="vrushabh" style="width:100%">
        <div class="containerTeam">
          <h2>Vrushabh Mankar</h2>
          <p class="title">Jr. Data Scientist</p>
          <p>Jr.Data Scientist at D2K Technologies.</p>
          <p>vrushabh.mankar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../assets/vidya.jpg" alt="Mike" style="width:100%">
        <div class="containerTeam">
          <h2>Vidya Godse</h2>
          <p class="title">SQL Database Developer</p>
          <p>SQL Developer at D2K Technologies India</p>
          <p>vidya.godse@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../assets/nikhil_coat.jpeg" alt="John" style="width:100%">
        <div class="containerTeam">
          <h2>Nikhil Malewar</h2>
          <p class="title">Fron-End Web Developer</p>
          <p>Front-End Web Dev. at D2k technologies.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
