<app-header></app-header>
<section id="works"></section>
<div class="container">
  <div class="row centered m-t-80 m-b-80">
    <h1>Projects</h1>

    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/Product__0014_Layer-2.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/ELS-Logo-New-min.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/Product__0013_Layer-3.png" class="img-responsive"></a>
    </div>
  </div>
</div>

<section id="skills"></section>
<div class="container">
  <div class="row centered m-t-80 m-b-80">
    <h1>Skills</h1>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/HTML_logo.png" width="360" height="190" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/CSS3_logo.png" width="360" height="190" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a routerLink="/works"><img src="../../assets/javascript_logo.jpg" width="360" height="190" class="img-responsive"></a>
    </div>
  </div>
</div>