<div id="workCarousalContainer">
  <div id="workCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#workCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#workCarousel" data-slide-to="1"></li>
      <li data-target="#workCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div id="workwrap">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">
                <h4>Early Warning System</h4>
                <h1>EWS</h1>
                <h4>ROLE: Web Developer</h4>
              </div>
            </div>
          </div>
        </div>

        <section id="works"></section>
        <div class="container">
          <div class="row centered m-t-80 m-b-80">
            <div class="col-lg-8 col-lg-offset-2">
              <h4>ABOUT THE PROJECT</h4>
              <p>A set of automated processes for identifying risks at a nascent stage in the bank’s loan portfolio, using measurable
                indicators is a feature of our effective early warning system. The rule based EWS identifies borrowers at
                risk of distress or default well before they actually default.</p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 mt">
              <img class="img-responsive" src="img/pr01.jpg">
              <br>
              <img class="img-responsive" src="img/pr02.jpg">
            </div>

          </div>
        </div>

      </div>

      <div class="item">
        <div id="workwrap">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">
                <h4>Easy Loan System</h4>
                <h1>ELS</h1>
                <h4>ROLE: Web Developer</h4>
              </div>
            </div>
          </div>
        </div>

        <section id="works"></section>
        <div class="container">
          <div class="row centered m-t-80 m-b-80">
            <div class="col-lg-8 col-lg-offset-2">
              <h4>ABOUT THE PROJECT</h4>
              <p>A workflow based system for easy monitoring of various stages of Retail credit deployment
                 – loan application, collection, pre-sanction processing, sanction and disbursement processes.</p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 mt">
              <img class="img-responsive" src="img/pr01.jpg">
              <br>
              <img class="img-responsive" src="img/pr02.jpg">
            </div>

          </div>
        </div>

      </div>

      <div class="item">
        <div id="workwrap">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">
                <h4>Legal Plus</h4>
                <h1>Legal Plus</h1>
                <h4>ROLE: Web Developer</h4>
              </div>
            </div>
          </div>
        </div>

        <section id="works"></section>
        <div class="container">
          <div class="row centered m-t-80 m-b-80">
            <div class="col-lg-8 col-lg-offset-2">
              <h4>ABOUT THE PROJECT</h4>
              <p>A Banks’ ability to generate adequate profits depends upon the asset quality and dynamics of managing their impaired assets.
                 The economic slowdown has resulted in marked increase in impaired asset portfolio in banks.
                 With the increasing volume of such assets locked up in litigations, process driven professional
                  management of such accounts, is the need of the hour.

                  CRisMac Legal effectively allows the stakeholders to collaborate and control the components of recovery efforts objectively culminating in better recovery..</p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 mt">
              <img class="img-responsive" src="img/pr01.jpg">
              <br>
              <img class="img-responsive" src="img/pr02.jpg">
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#workCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#workCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>